.container {
    display: flex;
    background-color: grey;
  }
  
  .filaUno {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 50px;
    left: 400px;
    width: auto;
    height: auto;
    padding: 10px;
  }
  .columnaUno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: auto;
    position: fixed;
    top: 50px;
    left: 750px;
  }
  .filaDos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    position: fixed;
    top: 400px;
    left: 500px;
    width: auto;
    height: auto;
    padding: 10px;
  }
  .columnaDos{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: auto;
    position: fixed;
    top: 140px;
    left: 400px;
  }
  .casillaBarrio {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  
  .verde {
    background-color: green;
  }
  
  .amarillo {
    background-color: yellow;
  }
  
  .naranja {
    background-color: orange;
  }
  
  .rojo {
    background-color: red;
  }
  
  .morado {
    background-color: purple;
  }
  .casillaBarrio {
    position: relative;

  }
  
  .jugador1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    color: white;
    padding: 2px;
    border-radius: 50%;
  }
  
  .jugador2 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: blue;
    color: white;
    padding: 2px;
    border-radius: 50%;
  }
  
  .jugador3 {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: green;
    color: white;
    padding: 2px;
    border-radius: 50%;
  }
  
  .jugador4 {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: yellow;
    color: white;
    padding: 2px;
    border-radius: 50%;
  }
  .dados{
    border-radius: 10px;
    width: 25%;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    margin-left: 15px;
    margin-top: 150px;
    text-align: center;
    p{
      color: white;
      padding-top: 10px;
      font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        /* font-weight: <weight>; */
        font-style: normal;
    }
  }